.menuListIcon {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-4rem) scale(0.5);
  transition: 0.4s ease;
  &:focus {
    outline: 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
